#footerBtn {
  position: fixed;
  bottom: 0;
  left: 50%;
  background-color: #d8d8d84d; /* 可根据需要调整背景色 */
  padding: 25px 30px; /* 设置内边距 */
  text-align: center; /* 居中内容 */
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  transition: border-radius 0.5s, clip-path 0.5s, box-shadow 0.5s;
}

#footerBtn:hover {
  background-color: #fff;
  border-radius: 40%;
  clip-path: none;
  box-shadow: -2px -2px 30px rgba(39, 39, 39, 0.2);
}
