#container {
  padding: 30px;
  background-color: rgb(254, 255, 233);
}

#content {
  padding: 19px 40px;
  width: 700px;
  font-weight: 510;
  text-shadow: 2px 2px 10px rgb(220, 222, 198);
  font-size: 22px;
  background-color: rgba(255, 224, 234, 0);
  line-height: 40px;
  align-items: center;
  transition: text-shadow 0.5s, font-weight 0.5s;
}

#content:hover {
  text-shadow: 3px 3px 10px rgb(241, 255, 252);
}

#phraghraph {
  width: 90%;
  height: 380px;
  border: 10px solid;
  border-radius: 20px;
  border-color: rgba(237, 255, 252, 0.599);
  display: flex;
  gap: 45px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 6px 6px 50px 10px rgba(193, 193, 193, 0.592);
  transition: box-shadow 0.5s, width 0.5s, height 0.5s;
}

#phraghraph:hover {
  width: 95%;
  height: 390px;
  box-shadow: 2px 4px 100px 5px rgb(177, 196, 194);
}

#story_container {
  flex-direction: column;
  display: flex;
  padding-top: 100px;
  gap: 200px;
  transition: gap 0.5s;
}

#story_container:hover {
  gap: 210px;
}

#img {
  filter: blur(10px) grayscale(50%) sepia(10%) brightness(0.8);
  width: 400px;
  height: 400px;
  box-shadow: -5px 5px 70px 2px rgb(193, 193, 191);

  transition: width 0.5s, box-shadow 0.5s, filter 0.5s;
}

#img:hover {
  width: 600px;
  box-shadow: -5px 5px 50px 5px rgb(251, 255, 231);
  filter: blur(0) grayscale(0) sepia(0) brightness(1);
}
